@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.team-container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #598dee;
    min-height: 100vh;
}

.home-container1, .home-container2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 200px;
    height: 200px;
    background-color: #f8f8f8;
    padding: 30px;
    border-radius: 35%;
    box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
    transition: all .4s;
    margin: 0 20px;
}

.profile-card:hover {
    border-radius: 10px;
    height: 300px;
}

.profile-card .img {
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-card:hover img {
    border-radius: 10px;
    transform: translateY(-55px);
}

.img img {
    object-fit: fill;
    width: 100%;
    border-radius: 60%;
    transition: all .4s;
    z-index: 99;
}

.caption {
    text-align: center;
    transform: translateY(-130px);
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.profile-card:hover .caption {
    opacity: 1;
    pointer-events: all;
}

.caption h3 {
    font-size: 14px;
    color: #0c52a1;
    font-weight: 600;
    margin-bottom: 2px;
}

.caption h4 {
    font-size: 12px;
    color: purple;
    font-weight: 400;
    margin-bottom: 6px;
}

.caption p {
    font-size: 11px;
    font-weight: 500;
    margin: 2px 0 2px 0;
}

.caption .social-links i {
    font-size: 21px;
    margin: 0 6px;
    cursor: pointer;
    color: #333;
    transition: all .4s;
    margin-top: 10px;
}

.caption .social-links i:hover {
    color: #0c52a1;
}

a {
    text-decoration: none;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .profile-card {
        width: 190px; /* Cards will take full width on smaller screens */
        height: 190px; /* Let the height adjust according to content */
        margin: 30px 20px; /* Adjust the margin as needed */
    }
}
